.chat_icon {
    position: fixed;
    right: 40px;
    bottom: 45px;
    font-size: 40px;
    color: #f74877;
    cursor: pointer;
    z-index: 1000;
}

.chat_box {
    position: fixed;
    right: 40px;
    bottom: 140px;
    width: 400px;
    height: 65vh;
    background-color: #dedede;
    z-index: 1000;
    transition: all 0.3s ease-in;
    transform: scaleY(0);
    border-radius: 40px 40px 0 0;
    border: 2px solid #000;
}

.chat_box.active {
    transform: scaleY(1);
}

.chat_box .title {
    background: #717fe0;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
    border-radius: 40px 40px 0 0;
}

.chat_box .form {
    padding: 20px 15px;
    min-height: 400px;
    max-height: 400px;
    overflow-y: auto;
}

.chat_box .form .inbox {
    width: 100%;
    display: flex;
    align-items: baseline;
}

.chat_box .form .user-inbox {
    justify-content: flex-end;
    margin: 13px 0;
}

.chat_box .form .inbox .icon {
    height: 40px;
    width: 40px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    font-size: 18px;
    background: #717fe0;
}

.chat_box .form .inbox .msg-header {
    max-width: 85%;
    margin-left: 10px;
}

.form .inbox .msg-header p {
    color: #fff;
    background: #717fe0;
    border-radius: 10px;
    padding: 8px 10px;
    font-size: 14px;
    word-break: break-all;
}

.form .user-inbox .msg-header p {
    color: #333;
    background: #efefef;
}

.chat_box .typing-field {
    display: flex;
    height: 60px;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    background: #efefef;
}

.chat_box .typing-field .input-data {
    height: 40px;
    width: 320px;
    position: relative;
    padding-left: 20px;
}

.chat_box .typing-field .input-data input {
    height: 100%;
    width: 100%;
    outline: none;
    border: 1px solid transparent;
    padding: 0 80px 0 15px;
    border-radius: 3px;
    font-size: 15px;
    background: #fff;
    transition: all 0.3s ease;
}

.typing-field .input-data input:focus {
    border-color: rgba(0, 123, 255, 0.8);
}

.input-data input::placeholder {
    color: #999999;
    transition: all 0.3s ease;
}

.input-data input:focus::placeholder {
    color: #bfbfbf;
}

.chat_box .typing-field .input-data button {
    position: absolute;
    right: 5px;
    top: 50%;
    height: 30px;
    width: 65px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    opacity: 0;
    pointer-events: none;
    border-radius: 3px;
    background: #717fe0;
    border: 1px solid #717fe0;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}

.chat_box .typing-field .input-data input:valid~button {
    opacity: 1;
    pointer-events: auto;
}

.typing-field .input-data button:hover {
    background: #f74877;
}

.indicator {
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0;
    display: none;
    width: 40%;
}

.indicator span {
    width: 100%;
    height: 100%;
    background: lightgray;
    border-radius: 5px;
    position: relative;
}

.indicator span.medium {
    margin: 0 3px;
}

.indicator span:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.indicator span.active.weak:before {
    background-color: #ff4757;
}

.indicator span.active.medium:before {
    background-color: #fa8e3c;
}

.indicator span.active.strong:before {
    background-color: #23ad5c;
}

.password_ {
    /* font-size: 20px;
    font-weight: 500;
    margin-bottom: -10px; */
    display: none;
}

.password_.weak {
    color: #ff4757;
}

.password_.medium {
    color: #fa8e3c;
}

.password_.strong {
    color: #23ad5c;
    ;
}